<ion-header no-border>
  <ion-toolbar>
    <ion-title>Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>
  <ion-item *ngFor="let component of componentes" 
            [routerLink]="component.redirectTo" detail>
    <ion-icon slot="start" [name]="component.icon"></ion-icon>
    <ion-label>{{ component.name }}</ion-label>
  </ion-item>
</ion-list>


  <!-- <ion-button [routerLink]="['/alert']">
    Alert
  </ion-button>

  <ion-button [routerLink]="['/action-sheet']">
    Action-sheet
  </ion-button> -->

</ion-content>